:host {

    .user {
      position: absolute;    
         align-self: center;
         margin-top: 8px;
     }
  
     .user-cuit {
      font-size: 12px;
      color: #7ca8d4;
      padding-right: 5px;
    }
    .user-name {
      font-size: 12px;
      color: #ffffff;
      padding-right: 5px;
    }
  
    .nav-link {
      padding: .5rem 0.25rem;
      margin-left: 55px;
     color: #ffffff;
     i {
       &.fas {
        font-size: 15px;
        }
      }
    }
  
    @keyframes header {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @media (max-width: 576px) {
      .user{
        left: 0 !important;
        .user-wrapper{
          position: relative;
          left: 38px;
        }
      }
    }
  }
  .body-color-header{
    background-color: rgb(241, 233, 158);
    height: 50px;
    margin-top: 0px;
    width: 1364px;
  }

  .label-login{
    display: inline-block;
    margin-top: 25px;
    margin-left: 300px;
  }

  .fa-user-circle-o {
    content: "\f2be";
    padding-top: 20px;
    padding-left: 256px;
  }