<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="body-color-header">
    <div class="row-xs-12" style="height:100%; width:100%;" text-left links>
      <div class="col-xs-4">
        
      </div>
      <div class="col-xs-4">
        
      </div>
       <div class="col-xs-4">
        <i class="fa fa-user-circle-o" style="font-size:15px; color: #337ab7;" >&nbsp;</i>
        <a  [href]="iniciarSession" style="width:50px; font-size:14px;">Iniciar Sesión</a>
       </div>
      <!-- <div class="col-xs-3">
        <a  [href]="iniciarSession">Iniciar Sesión</a>
       </div>-->
        <!-- USUARIO NO LOGUEADO -->
        <!--<div *ngIf="!user.isLogged">
          <div class="user-icon">
            <i class="d-none d-lg-inline-block fa fa-user-circle"></i>
            <a class="nav-link" [href]="iniciarSession">Iniciar Sesión</a>
          </div>
        </div>-->
        <!-- USUARIO NO LOGUEADO -->

        <!-- USUARIO LOGUEADO -->
        <!--<div class="user-wrapper" *ngIf="user.isLogged">
          <div class="user-icon-logged">
            <i class="fa fa-user-circle"></i>
          </div>

          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <div>
              <span class="user-name d-none d-md-inline-block">{{ username }}</span>
              <span class="user-cuit d-none d-md-inline-block">{{ user.cuit }}</span>
              <i class="fas fa-chevron-down"></i>
            </div>
          </a>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" [href]="url_perfil">Mi Perfil</a>
            </li>
            <li>
              <a class="dropdown-item" *ngIf="user.corredor" [href]="url_corredor">Corredor</a>
            </li>
            <li>
              <a class="dropdown-item" *ngIf="user.procurador" [href]="url_procurador">Procurador</a>
            </li>
            <li>
              <a class="dropdown-item" *ngIf="user.representantes.length > 0" [href]="urlRepresentado">Mis
                Representados</a>
            </li>
            <div class="dropdown-divider"></div>
            <li>
              <a class="dropdown-item" (click)="logout(content)">Salir</a>
            </li>
          </ul>
        </div>-->
        <!-- USUARIO LOGUEADO -->

      

      <!--<a [href]="linkRentas">
        <div class="logorentas"></div>
      </a>-->

    </div>
  </div>
<ng-template #content let-modal>
  <!--<div class="modal-header">

      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>-->
  <div class="modal-body">
    <p>¿Está seguro que desea salir?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn second" (click)="modal.close('NO')">No</button>
    <button type="button" class="btn primario" (click)="modal.close('SI')">Sí</button>
  </div>
</ng-template>


