<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="footer">
  <div class="body-color" style="margin: 0px;">
    <div class=".container-fluid">
      <div class="row-sm-12 ">
        <div class="col-sm-10">
          <div class="row-sm-12">
            <div class="col-xs-12 text-left links ">
              <br>
              <label>Ruta Nacional Nº 9 Km 501 - Bell Vile - Cordoba. | Email: ventas@bta.com.ar
                &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp;
              </label>

              <label>Seguinos en &nbsp; &nbsp; &nbsp; &nbsp;</label>
              <a href="https://www.facebook.com/BtaHerramientas/" class="fa fa-facebook" target=”_blank”></a>
              <a href="#" class="fa fa-twitter"></a>
              <a href="#" class="fa fa-instagram"></a>
              <a href="https://www.youtube.com/channel/UCsr0D257712-6M_bqG7w-sw" class="fa fa-youtube" target=”_blank”></a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>