<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="footer">
  <div class="body-color-footer">
    <div>
      <div class="col-xs-6">
        <label class="labels-direccion">Ruta Nacional Nº 9 Km 501 - Bell Vile - Cordoba. | Email:
          ventas@bta.com.ar</label>
      </div>
      <div class="col-xs-3">
        <label class="label-seguinos">Seguinos en </label>
      </div>
      <div class="col-xs-2 class-position">
        <a href="https://www.facebook.com/BtaHerramientas/" class="fa fa-facebook" target=”_blank”></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="https://www.youtube.com/channel/UCsr0D257712-6M_bqG7w-sw" class="fa fa-youtube" target=”_blank”></a>
      </div>
    </div>
  </div>
</div>