<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand"></a>

  <!-- Links -->
  <ul class="navbar-nav">
    
    <div class="dropdown">
      <ul class="navbar-nav dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <li class="nav-item">
          <a class="nav-link" href="#">Administración</a>
        </li>
        <li class="nav-item dropdown">
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">ABM Usuarios</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="dropdown">
      <ul class="navbar-nav dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <li class="nav-item">
          <a class="nav-link" href="#">Ventas</a>
        </li>
        <li class="nav-item dropdown">
          <ul class="dropdown-menu">
            <li class="dropdown-submenu">
              <a class="dropdown-item" href="#">Clientes</a>
              <ul class="dropdown-menu">
                <li class="dropdown-item"><a href="#">ABM Clientes</a></li>
                <li class="dropdown-item"><a href="#">Buscar Clientes</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a class="dropdown-item" href="#">Pedidos</a>
              <ul class="dropdown-menu">
                <li class="dropdown-item"><a href="#">Buscar Pedido</a></li>
                <li class="dropdown-item"><a href="#">ABM Pedidos</a></li>
                <li class="dropdown-item"><a href="#">Imprimir Pedido</a></li>
                <li class="dropdown-item"><a href="#">ABM Pendientes</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="dropdown">
      <ul class="navbar-nav dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <li class="nav-item">
          <a class="nav-link" href="#">Servicio Tecnico</a>
        </li>
        <li class="nav-item dropdown">
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Ingreso de Producto</a></li>
            <li><a class="dropdown-item" href="#">Cargar solicitud de Servicio Tecnico</a></li>
            <li><a class="dropdown-item" href="#">Estado de servicio</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="dropdown">
      <ul class="navbar-nav dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <li class="nav-item">
          <a class="nav-link" href="#">Repuestos</a>
        </li>
        <li class="nav-item dropdown">
          <ul class="dropdown-menu">

            <li><a class="dropdown-item" href="#">ABM lugares en picking</a></li>
            <li><a class="dropdown-item" href="#">ABM repuestos en picking</a></li>
            <li><a class="dropdown-item" href="#">Información repuestos</a></li>
            <li><a class="dropdown-item" href="#">Lugares disponibles en picking</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="dropdown">
      <ul class="navbar-nav dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <li class="nav-item">
          <a class="nav-link" href="#">Deposito Fiscal</a>
        </li>
        <li class="nav-item dropdown">
          <ul class="dropdown-menu">

            <li><a class="dropdown-item" href="#">Cargar información de producto</a></li>
            <li><a class="dropdown-item" href="#">Cargar información de repuesto</a></li>
            <li><a class="dropdown-item" href="#">Traspaso de producto</a></li>
            <li><a class="dropdown-item" href="#">Traspaso de repuesto</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="dropdown">
      <ul class="navbar-nav dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <li class="nav-item">
          <a class="nav-link" href="#">Expedición</a>
        </li>
        <li class="nav-item dropdown">
          <ul class="dropdown-menu">
            <li class="dropdown-submenu">
              <a class="dropdown-item" href="#">Almacén</a>
              <ul class="dropdown-menu">
                <li class="dropdown-item"><a href="#">ABM Lugares en Almacén</a></li>
                <li class="dropdown-item"><a href="#">ABM Productos en Almacén</a></li>
                <li class="dropdown-item"><a href="#">Lugares disponibles en Almacén</a></li>
              </ul>
            </li>

            <li class="dropdown-submenu">
              <a class="dropdown-item" href="#">Pedidos</a>
              <ul class="dropdown-menu">
                <li class="dropdown-item"><a href="#">Buscar Pedido</a></li>
                <li class="dropdown-item"><a href="#">Finalizar Pedido</a></li>
                <li class="dropdown-item"><a href="#">Imprimir Pedido</a></li>
                <li class="dropdown-item"><a href="#">Información Pedido</a></li>
                <li class="dropdown-item"><a href="#">Realizar Pedido</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a class="dropdown-item" href="#">Picking</a>
              <ul class="dropdown-menu">
                <li class="dropdown-item"><a href="#">ABM Lugares en Picking</a></li>
                <li class="dropdown-item"><a href="#">ABM Productos en Picking</a></li>
                <li class="dropdown-item"><a href="#">Lugares disponibles en Picking</a></li>
              </ul>
            </li>

          </ul>
        </li>
      </ul>
    </div>
  </ul>
</nav>