.body-color{
    background-color: rgb(241, 233, 158);
    height: 500px;
    margin: 0px;
}
.container-fluid{
    height: 100%;
}
.col-xs-6{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  

 #imagen{
    position: absolute;
    width: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    margin: auto;
  }

  #login{
    position: absolute;
    width: 50;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    margin: auto;
  }

  #iniciar-cesion-id{
    position: absolute;
    width: 100px;
    top: 25px;
    left: 300px;
    right: 0px;
    bottom: 0px;
    margin: auto;
  }
  
a{
    font-weight: bold;
  }