
<body class="body-color" id="body-component-html-id">
        <div class=".container-fluid" id="container-id">
                <div class="col-md-12" style="height:100%; width:100%;" id="col-1-id">
                        <div class="col-xs-6" style="height: 350px;" id="col-2-id">

                                <img src="./assets/images/Logo-Crossmaster.png" width="250" height="100" id="imagen">

                        </div>
                        <div class="col-xs-6" style="height: 350px;" id="col-3-id">
                                <a id="iniciar-cesion-id" href="">Iniciar Cesion</a>
                                <img src="./assets/images/Bta-tools-logo.png" width="250" height="150" id="imagen">

                        </div>
                </div>
                <div class="col-md-12" style="height:100%; width:100%;" id="col-4-id">
                        <div class="col-xs-6" style="height: 350px;" id="col-5-id">

                                <img src="./assets/images/Logo-BTA-CONSTRUCTION.png" width="250" height="150" id="imagen">

                        </div>
                        <div class="col-xs-6" style="height: 350px;" id="col-6-id">

                                <img src="./assets/images/logo-dowen-pagio.png" width="250" height="100" id="imagen">

                        </div>
                </div>
               
        </div>
        
</body>
<footer>
        <app-footer></app-footer>
</footer>
